@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Germania+One|Permanent+Marker&effect=anaglyph|destruction');


//colors
  $primary:  rgb(34, 34, 34);
  $transGray: rgba(0, 0, 0, 0.2);
  $turq: #5ce1e6;
  $red: #ff13a7;
//fonts
$font: Permanent Marker;
$shadow: -.8px .5px $turq, .8px .5px $red; 
$fntclr: #666666;


//transitions


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pusher {
  margin-top: 250px;
  width: 100%;

  #root{
    width: 100%
  }

  a {
    text-decoration: none;
  }
  
}

body {
  background-color: $primary;
  font-family: $font;
  text-shadow: $shadow;
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
};

canvas {
  margin-top: 155px;
}

input {
    border: none;
    background-color: $transGray;
    border-radius: 5px;
    font-family: $font;
    border-radius: 15px;
    margin: 5px;
    text-indent: 15px;
    text-shadow: $shadow;
    color: $fntclr;
    letter-spacing: 1.5px;

};

a:hover, a:active {
  color: $turq;
  
  &:hover {
    color: $turq;
    
    a:nth-child(2n+1){
      color: $red;
    }
  }
}

li {
  font-family: $font;
  font-size: 28px;
  color: $fntclr;
  text-shadow: $shadow;
  list-style: none;
}


p {
  font-family: $font;
  font-size: 28px;
  color: $fntclr;
  text-shadow: $shadow;
}    

h1 {
  font-family: $font;
  font-size: 50px;
  margin: 15px;
  color: $fntclr;
};


button {
  background-color: transparent;
  border-style: none;
  margin: 20px;
  text-shadow: -.5px .5px $turq, .8px .5px $red;
  font-size: 33px;
  letter-spacing: 1.5px;
  font-family: $font;
  color: $fntclr;
}

.modContainer {
  min-width: 100%;
  min-height: 100%;
  margin-top: 35vh;
  margin-bottom: 35vh;
}


.profileInput {
  width: 65%;
}

.mod {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 75%;
  flex-wrap: wrap;

  ul {
    max-width: 100%;
  }
}

.newGameText {
  padding: 25px;
  margin-top:25px;
}

.newGamePic {
  height: 200px;
  margin-top: 25px;
  padding: 10px;
}

.gameEl {
  margin-top: 75px;
}

.banner {
  max-width: 100%;
  border-radius: 50%;
}

.navWrapper {
  width: 100%;
}

ul {
  font-family: $font;
  color: $fntclr;
}


.navbar {
  font-family: $font;
  color: $fntclr;
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  max-height: 100px;
  background-color: $primary;
  flex-direction: row;
  text-decoration: none;
  

    .navlogo {
      width: 100px;
      max-height: 100px;
      border-radius: 50%;
      padding: -25px;
    }

    .link {
      text-decoration: none;
    }

    .navText {
      text-decoration: none;
      color: $fntclr;
      font-size: 33px;
    }
    
    
    
    @media (min-width: 601px){
      
      .sidenav{
        min-width: 100%;
        justify-content: space-around;
        align-items: center;
        justify-content: center;
        
      }
      
      #btn {
        display: none
      }
      
      ul {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
    }

    
    
    
    @media (max-width: 600px){
      
      
      .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: $transGray;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        
        .navText {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: $fntclr;
          display: block;
          transition: 1s;

        }
      }
      
      a:hover, a:active {
        color: $turq;
        
        &:hover {
          color: $turq;
          
          a:nth-child(2n+1){
            color: $red;
          }
        }
      }
      .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
    }
    .openBtn {
      font-size: 36px;
      margin-left:  20px;
      margin-top: 25px;
      transition: .5s;
    }
  }
