@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Germania+One');

  $primary:  rgb(36, 34, 34);
  $transGray: #939393;

body, html {
  height: 100%;
  background-color: $myColor;
};
input {
  border: none
}
